@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 345 28% 14%;
    --foreground: 341 58% 5%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 341 59% 98%;
    --popover-foreground: 341 58% 5%;
    --card: 341 59% 98%;
    --card-foreground: 341 58% 5%;
    --border: 341 10% 90%;
    --input: 341 10% 90%;
    --primary: 341 55% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 342, 56%, 23%;
    --secondary-foreground: 0 0% 100%;
    --accent: 346 24% 17%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 342, 56%, 42%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 341 59% 1%;
    --foreground: 341 21% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 341 59% 1%;
    --popover-foreground: 341 21% 98%;
    --card: 341 59% 1%;
    --card-foreground: 341 21% 98%;
    --border: 341 10% 15%;
    --input: 341 10% 15%;
    --primary: 341 55% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 342, 56%, 23%;
    --secondary-foreground: 0 0% 100%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 342, 56%, 42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  width: 100%;
  overflow-x: hidden;
}
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      180deg,
      rgba(243, 100, 255, 0.15) 0%,
      rgba(200, 60, 96, 0.2) 0.01%,
      rgba(200, 60, 96, 0) 100%,
      rgba(200, 60, 96, 0)
    )
    no-repeat;
  background-color: black;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #412b32;
  margin: 1em 0;
  padding: 0;
}

.header-title {
  font-weight: 900;
}

.Fish {
  background: linear-gradient(180deg, #ff005c 0%, rgba(200, 60, 96, 0.5) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-border-footer {
  border-color: #412b32;
}

@keyframes slideAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.looper {
  width: 100%;
  overflow: hidden;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.looper__listInstance {
  display: flex;

  animation: slideAnimation linear infinite;
}

.lets_work_logo {
  background: url(../../../public/logo-jellyfish.png) 125% 24% no-repeat;
}

.contate-nos-btn {
  border: solid 1px;
  border-color: #bb7b90;
  background-color: #926171;
}
.contate-nos-btn:hover {
  background-color: rgb(110, 73, 85);
}

::selection {
  color: #cccccc;
  background: #926171;
}
/* button-2 */

.btn1 {
  /* background-color: #C83C60; */
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  box-shadow: 0.9px 1px 0 0 #fff, 1.5px 2px 0 0 #fff, 2.5px 3px 0 0 #fff,
    3.5px 4px 0 0 #fff, 4.5px 5px 0 0 #fff, 5.5px 6px 0 0 #fff,
    6.5px 7px 0 0 #fff, 7.5px 8px 0 0 #fff, 8.5px 9px 0 0 #fff,
    9.5px 10px 0 0 #fff;
  position: relative;
  inset: 0;
  transform: rotateX(0), rotateY(0) rotateZ(0);
  outline: 2px dashed transparent;
  transition: all 700ms ease;
}

.btn1:hover {
  inset: 6px 0 5.5px 0;
  transform: rotateX(5deg) rotateY(3deg) rotateZ(0.25deg);
  box-shadow: none;
}

.infinite-looper {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

@media only screen and (max-width: 425px) {
  body {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

.card-idealizadores {
  background: #412b32;
  border-color: #926171;
}

.footer-section {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 17%,
    rgba(0, 0, 0, 1) 68%
  );
}

/* button-4

.btn3::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(90deg, #412b32, #880e3b84, #412b32);
  transform: scaleX(1.1) scaleY(1.2);
  filter: blur(7px);
  background-size: 500%;
  animation-name: flowing;
  animation-timing-function: ease;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  opacity: 0;
}

.btn3:hover::after {
  opacity: 1;
}

.btn3:active {
  background: none;
}

@keyframes flowing {
  0% {
      background-position: 0 0;
  }

  50% {
      background-position: 400% 0;
  }

  100% {
      background-position: 0 0;
  }
} */

/* jellyfish-image floater */
@keyframes float {
  0% {
    transform: translateY(0);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(-20px);
    transition: ease 0.5s;
  }
  100% {
    transform: translateY(0px);
    transition: ease 0.5s;
  }
}

.jellyfish-image {
  transform: translateY(-10%);
  animation: float 5s infinite;
  transition: ease 0.5s;
}
